*{
    font-family: sans-serif;
    font-size: 13px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.excel-input {
  outline: none;
  border: none;
  background: transparent;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.icon-delete{
  filter: invert(36%) sepia(47%) saturate(6258%) hue-rotate(343deg) brightness(100%) contrast(103%);
}

// Apply to all
.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.context-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.context-menu ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #f0f0f0;
}